#dash_stat.panel.panel-default
  .dropzone-overlay
    | "Drop to upload file FUCKING REMEMBER THIS SHIT, THIS IS THE SHIT (RIGHT HERE like IN hte overlay divv, that you can use as the little fill in thing like facebook. please dont forget becasue if you do like so much work will be lost2"
  .panel-heading
    h3#panel_chat-title.panel-title Team Chat
  form#uploadForm(enctype='multipart/form-data', class="dropzone", action='/dashUpload', method='post')
    .panel-body
      #chat
      input#m
      input(type='submit', value='submit', name='submit')
      .dz-message
      ul#messages
      span#status
    <div class="dz-preview dz-file-preview dz-processing dz-success dz-complete"></div>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="/js.cookie.js"></script>
//- <!--[if IE]>
//- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
//- <![endif]-->

//- <!--[if !IE]>-->
//- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
//- <!--<![endif]-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
script.
  
  var socket = io();
  logTracker = [];
  //console.log(Cookies.get());
  //console.log(typeof #{config.comp_id});

  //THIS LINE IS VERY IMPORTANT
  console.log(!{JSON.stringify(config.user.fname)});
  // please remember this line

  function parseLog(log){
    if(log.charAt(log.length-1) === "!"){
      console.log("ahhhhhhhaaaga");
      $('#messages').append($('<li>').html('<a href="/upteams/' + #{config.user.team} + '/' + log.slice(0,log.indexOf(':'))
      + '">' + log.slice(log.indexOf(':') + 1, log.lastIndexOf(':')) + '</a>'));

      return log.slice(log.lastIndexOf(':') + 1, log.length-1);
    }
    else{$('#messages').append($('<li>').text(log.slice(0,log.indexOf(':'))));
      return log.slice(log.lastIndexOf(':') + 1, log.length);
    }
  };

  function logCheck(log){
    return log.slice(log.indexOf(':') + 1, log.lastIndexOf(':'));
  };


  $(document).ready(function() {
    $('#uploadForm').submit(function() {
      console.log(this);
      if($('#m').val() && $('#m').val() != '' && $('#m').val().length != 0){ 
        socket.emit('send_message', $('#m').val());
        $('#messages').append($('<li>').text($('#m').val()));
        $('#m').val('');
      }else{
        $(this).ajaxSubmit({
          error: function(xhr) {
            console.log(xhr);
            status('Error: ' + xhr.status);
          },
          success: function(response) {
            $("#status").empty().text(response);
            $('#uploadForm').empty();
          }
        });
      }
      return false;
    });    
  });

  socket.on('log_pic' + #{config.user.id}, function(usr, pic){

  });

  socket.on('new_file:' + #{config.user.team}, function(log){
    $('#messages').append($('<li>').html('<a href="/upteams/' + #{config.user.team} + '/' + log.slice(0,log.indexOf(':'))
      + '">' + log.slice(log.indexOf(':') + 1, log.lastIndexOf(':')) + '</a>'));
  });

  socket.on('chat_log:'+ #{config.user.id}, function(chat){
    $('#messages').removeAttr();
    var pic_requested = [#{config.user.id}];
    for (var i = 0; i < chat.length; i++) {
      var log = parseInt(parseLog(chat[i]));
      if(!pic_requested.includes(log)){
        pic_requested.push(log);
        //request the pic here
      }
    }
    console.log(pic_requested);
  });

  socket.on('new_message:' + #{config.user.team}, function(usr, msg){
    if(usr != #{config.user.id}){notify(msg, usr, 'success');$('#messages').append($('<li>').text(msg));}
  });
</script>