#dash_stat.panel.panel-default
  .panel-heading
    h3#panel_chat-title.panel-title #{config.team.name} Chat
  form#uploadForm(enctype='multipart/form-data', class="dropzone", action='/dashUpload', method='post')
    .panel-body(style='overflow:auto;max-height:40vh;')
      ul#messages
      span#status
    div.fallback
      input(name="file" type="file" multiple)
    .in_container
      i#upload_button(class="dropzone", class="fa fa-upload", action='/dashUpload')
        .dz-message
      #chat_input
        input#m
        input(type='submit', value='submit', name='submit')
    .dz-message

    
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="/js.cookie.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
//- <!--[if IE]>
//- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
//- <![endif]-->

//- <!--[if !IE]>-->
//- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
//- <!--<![endif]-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
script.
  //window.Dropzone.options.uploadForm.clickable = false;
  window.Dropzone.options.uploadForm = {
    clickable: false,
    init: function() {
      this.on("complete", function(file) {
        //console.log("hubbabubba");
        file.previewElement.remove();
      });
    }
  };

  window.Dropzone.options.uploadButton = {
    init: function() {
      this.on("complete", function(file) {
        //console.log("hubbabubba");
        file.previewElement.remove();
      });
    }
  };

  var socket = io();
  logTracker = [];
  //console.log(Cookies.get());
  //console.log(typeof #{config.comp_id});

  //THIS LINE IS VERY IMPORTANT
  console.log(!{JSON.stringify(config.user.fname)});
  // please remember this line

  function parseLog(log){
    console.log(log);
    if(log.charAt(log.length-1) === "!"){
      //console.log("ahhhhhhhaaaga");
      $('#messages').append($('<li>').html('<a href="/upteams/' + #{config.user.team} + '/' + log.slice(0,log.indexOf(':'))
      + '">' + log.slice(log.indexOf(':') + 1, log.lastIndexOf(':')) + '</a>'));

      return log.slice(log.lastIndexOf(':') + 1, log.length-1);
    }
    else{$('#messages').append($('<li>').text(log.slice(0,log.indexOf(':'))));
      return log.slice(log.lastIndexOf(':') + 1, log.length);
    }
  };

  function logCheck(log){
    return log.slice(log.indexOf(':') + 1, log.lastIndexOf(':'));
  };

  

  $(document).ready(function() {
    $('#uploadForm').submit(function() {
      //console.log(this);
      if($('#m').val() && $('#m').val() != '' && $('#m').val().length != 0){ 
        socket.emit('send_message', $('#m').val());
        $('#messages').append($('<li>').text($('#m').val()));
        $('#m').val('');
      }else{
        $(this).ajaxSubmit({
          error: function(xhr) {
            console.log(xhr);
            status('Error: ' + xhr.status);
          },
          success: function(response) { 
          }
        });
      }
      return false;
    });    
  });

  socket.on('new_file:' + #{config.user.team}, function(log){
    $('#messages').append($('<li>').html('<a href="/upteams/' + #{config.user.team} + '/' + log.slice(0,log.indexOf(':'))
      + '">' + log.slice(log.indexOf(':') + 1, log.lastIndexOf(':')) + '</a>'));
  });

  socket.on('chat_log:'+ #{config.user.id}, function(chat){
    $('#messages').removeAttr();
    for (var i = chat.length -1 ; i >= 0; i--) {
      parseLog(chat[i]);
    }
  });

  socket.on('new_message:' + #{config.user.team}, function(usr, msg){
    if(usr != #{config.user.id}){notify(msg, usr, 'success');$('#messages').append($('<li>').text(msg));}
  });
</script>