html
  body
    .container.col-lg-4.col-md-4.col-sm-4(style='margin-top: 5em;')
      .panel.panel-default
        .panel-heading
          h3.panel-title
            | TEAM NAME HERE
            span(style='float:right;padding-right:0.5em;')
              img.img-rounded(src='images/useridenticon.png', width='20px', height='20px')
        .panel-body
          p(style='line-height:0.1em')
            | Points
            span(style='float:right; color:dimgrey; padding-right:1em;') 0
          hr
          p(style='line-height:0.1em')
            | Questions Answered
            span(style='float:right; color:dimgrey; padding-right:1em;') 0
          hr
          p(style='line-height:0.1em')
            | Other
            span(style='float:right; color:dimgrey; padding-right:1em;') 0
      .panel.panel-default
        .panel-heading
          h3.panel-title  Team Name Chat 
        .panel-body
          ul#messages
            form(action='')
              input#m
              button(type='button', autocomplete='off') Send
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
script.
  var socket = io();

  $(function(){
    $('button').click(function(){
      //console.log("comeonnnnn");
      socket.emit('send_message', $('#m').val());
      console.log($('#m').val());
      $('#messages').append($('<li>').text($('#m').val()));
      $('#m').val('');
      return false;
    });
  });

  function parseLog(log){
    $('#messages').append($('<li>').text(log.slice(0,log.indexOf(':'))));
    return log.slice(log.lastIndexOf(':') + 1, log.length);
  };

  socket.on('log_pic' + #{config.user.id}, function(usr, pic){

  });
  
  socket.on('chat_log:'+ #{config.user.id}, function(chat){
    var pic_requested = [#{config.user.id}];
    for (var i = 0; i < chat.length; i++) {
      if(pic_requested.includes(parseInt(parseLog(chat[i])))){
        pic_requested.push(parseInt(parseLog(chat[i])));
        //request the pic here
      }
    }
    console.log(pic_requested);
  });
  
  socket.on('new_message:' + #{config.user.team}, function(usr, msg){
    console.log('catcatcat');
    console.log(usr);
    console.log(msg);
    console.log('dogdogdog');
    if(usr != #{config.user.id}){$('#messages').append($('<li>').text(msg));}
  });
  socket.emit('dashboard_connect', #{config.user.id});