html
  body
    .container.col-lg-4.col-md-4.col-sm-4(style='margin-top: 10.4em;')
      .panel.panel-default
        .panel-heading
          h3.panel-title #{config.team.name} Chat 
        .panel-body
          ul#messages
            form(action='')
              input#m
              button(type='button', autocomplete='off') Send
            form(id="uploadForm" enctype="multipart/form-data" action="/upload" method="post")
              input(type="file" name="userPhoto")
              input(type="submit" value="Upload Image" name="submit")
              span(id = "status")
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<!--[if IE]>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<![endif]-->

<!--[if !IE]>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!--<![endif]-->
script.
  var socket = io();
  logTracker = [];

  $(document).ready(function() {

     $('#uploadForm').submit(function() {
     $("#status").empty().text("File is uploading...");
        $(this).ajaxSubmit({

            error: function(xhr) {
                status('Error: ' + xhr.status);
            },

            success: function(response) {
          console.log(response)
          $("#status").empty().text(response);
            }
  });

  return false;
    });    
  });

  $(function(){
    $('#messages').on('click', 'button', function(){
      console.log("comeonnnnn");
      //socket.emit('dasbhoard_connect', #{config.user.id});
      if($('#m').val() != ""){
        socket.emit('send_message', $('#m').val());
        //notify('lol', 's', 'success');
        console.log($('#m').val());
        $('#messages').append($('<li>').text($('#m').val()));
        $('#m').val('');
        return false;
      }
    });
  });

  function parseLog(log){
    $('#messages').append($('<li>').text(log.slice(0,log.indexOf(':'))));
    return log.slice(log.lastIndexOf(':') + 1, log.length);
  };
  function logCheck(log){
    return log.slice(log.indexOf(':') + 1, log.lastIndexOf(':'));
  };

  socket.on('log_pic' + #{config.user.id}, function(usr, pic){

  });
  
  socket.on('chat_log:'+ #{config.user.id}, function(chat){
    $('#messages').removeAttr();
    var pic_requested = [#{config.user.id}];
    for (var i = 0; i < chat.length; i++) {
      var log = parseInt(parseLog(chat[i]));
      if(!pic_requested.includes(log)){
        pic_requested.push(log);
        //request the pic here
      }
    }
    console.log(pic_requested);
  });
  
  socket.on('new_message:' + #{config.user.team}, function(usr, msg){
    if(usr != #{config.user.id}){notify(msg, usr, 'success');$('#messages').append($('<li>').text(msg));}
  });
  