#edit.container(style='position: fixed; margin-top:0.5em')
      form.form-signin.signup(action="")
        label.sr-only(for='inputFName') First Name
        input#inputName.form-control(type='name', placeholder='#{config.user.fname}', required='', autofocus='')
        label.sr-only(for='inputLName') Last Name
        input#inputName.form-control(type='name', placeholder='#{config.user.lname}', required='', autofocus='')
        label.sr-only(for='inputUsername') Username
        input#inputUsername.form-control(type='username', placeholder='#{config.user.username}', required='', autofocus='')
        label.sr-only(for='inputAge') Age
        input#inputAge.form-control(type='age', placeholder='#{config.user.age}', required='', autofocus='')
        
        label.sr-only(for='inputEmail') Email address
        input#inputEmail.form-control(type='email', placeholder='#{config.user.email}', required='', autofocus='')

        
        label.sr-only(for='inputPassword') Password
        input#inputPassword.form-control(type='password', placeholder='Password', required='')
        .checkbox
          //
            <label>
            <input type="checkbox" value="remember-me"> Remember me
            </label>
          // change this into team codes later on
          // when deployed on actual site, include reCAPTCHA
        button.btn.btn-lg.btn-danger.btn-block(type='button' autocomplete='off') Edit User      
       // modify a modal for a forgotten password
    // /container

<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
script.
  var socket = io();
  $(function(){
    $('button').click(function(){
      socket.emit('edit', $('#inputFName').val(), $('#inputLName').val(),  $('#inputUsername').val(), $('#inputAge').val(),
      $('#inputEmail').val(), $('#inputPassword').val());
      return false;
    });
    $('form').keypress(function (e) {
      if (e.which == 13) {
      socket.emit('edit', $('#inputFName').val(), $('#inputLName').val(),  $('#inputUsername').val(), $('#inputAge').val(),
      $('#inputEmail').val(), $('#inputPassword').val());
      return false;
      }
    });
  });
  
  socket.on(#{config.user.id}, function(data){
    if(data==='success_edit'){
      console.log("we good");
      location.href = '/dashboard';
    }
  });
      






